{% extends "layout.html" %}

{% block title %}Crear nueva gestión{% endblock %}
{% load static %}
<link rel="icon" type="https://cdn.sstatic.net/Sites/es/img/apple-touch-icon.png?v=7739871010e6 ">

{% block content %}

<!-- Barra superior -->
<nav class="navbar navbar-expand-lg px-3" style="background-color: white;">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'listar_gestiones' %}">
      <img src="{% static 'images/logo.JPG' %}" alt="Logo" width="50" height="40">
    </a>
    <span class="navbar-text text-dark ms-auto">
      Bienvenido/a, <strong>{{ first_name }}</strong>
    </span>
  </div>
</nav>




<div class="container-fluid d-flex flex-column align-items-center" style="min-height: 100vh; padding: 50px 15px; overflow-y: auto;">
  <div class="card shadow p-4" style="max-width: 1500px; width: 100%;">
    <h3 class="mb-4 text-center text-primary"><strong>Crear Gestión</strong></h3>

    <form method="POST" novalidate>
      {% csrf_token %}

      <div class="mb-3 d-flex flex-wrap">
        <!-- Servicio -->
        <div class="me-3 w-25">
          <label for="servicio" class="form-label"><strong>Servicio</strong></label>
          <input type="text" class="form-control" id="servicio" name="servicio" required>
          <div class="invalid-feedback">Por favor, ingrese el servicio.</div>
        </div>
      
        <!-- Tipo de Gestión -->
        <div class="me-3 w-22">
          <label for="tipo_de_gestion" class="form-label"><strong>Tipo de Gestión</strong></label>
          <select class="form-select" id="tipo_de_gestion" name="tipo_de_gestion" required>
            <option>-----</option>
            <option value="Evento">Evento</option>
            <option value="Incidente">Incidente</option>
            <option value="Orden de cambio">Orden de cambio</option>
          </select>
          <div class="invalid-feedback">Por favor, seleccione un tipo de gestión.</div>
        </div>
      
        <!-- Número de Caso -->
        <div class="me-3 w-25">
          <label for="numero_caso" class="form-label"><strong>Número de Caso</strong></label>
          <input type="text" class="form-control" id="numero_caso" name="numero_caso" required>
          <div class="invalid-feedback">Por favor, ingrese el número de caso.</div>
        </div>
      
        <!-- Detectada Por -->
        <div class="w-25">
          <label for="detectada_por" class="form-label"><strong>Detectada Por</strong></label>
          <select class="form-select" id="detectada_por" name="detectada_por">
            <option value="Herramientas de monitoreo">Herramientas de monitoreo</option>
            <option value="Analista de confiabilidad">Analista de confiabilidad</option>
            <option value="Analista de soporte/Stand by">Analista de soporte/Stand by</option>
            <option value="Torre de control">Torre de control</option>
            <option value="Pruebas manuales CGM">Pruebas manuales CGM</option>
            <option value="Proveedor/aliado">Proveedor/aliado</option>
            <option value="Otros">Otros</option>
          </select>
          <div class="invalid-feedback">Por favor, seleccione quién detectó el problema.</div>
        </div>
      </div>
      

<!-- Causado por certificado, OC -->
<div class="mb-3">
  <label class="form-label"><strong>Causado por certificado digital </strong></label>
  <input type="checkbox" id="causado_por_certificado_digital" name="causado_por_certificado_digital" class="checkbox-grande" {% if causadoporc == "on" %} checked {% endif %}>
  <label for="causado_por_certificado_digital" class="badge bg-success">Sí</label>

  <label class="form-label ms-4"><strong>Incidente Generado por OC</strong></label>
  <input type="checkbox" id="incidente_generado_por_OC" name="incidente_generado_por_OC" class="checkbox-grande" {% if generadoporc == "on" %} checked {% endif %}>
  <label for="incidente_generado_por_OC" class="badge bg-success">Sí</label>

  <div class="invalid-feedback">Por favor, complete los campos requeridos.</div>
</div>


<div class="mb-3 d-flex">
  <!-- Atribuible a -->
  <div class="me-4 w-75">
    <label for="atribuible_a" class="form-label"><strong>Atribuible a</strong></label>
    <select class="form-select" id="atribuible_a" name="atribuible_a">
      <option value="EVC">EVC</option>
      <option value="Cloud">Cloud</option>
      <option value="Base de datos">Base de datos</option>
      <option value="ISERIES">ISERIES</option>
      <option value="Ciberseguridad">Ciberseguridad</option>
      <option value="Plataformas distribuidas">Plataformas distribuidas</option>
      <option value="Telecomunicaciones">Telecomunicaciones</option>
      <option value="Integracion">Integración</option>
      <option value="SOA">SOA</option>
      <option value="Pseries">Pseries</option>
      <option value="Usuarios">Usuarios</option>
      <option value="Aliados">Aliados</option>
      <option value="Sin definir">Sin definir</option>
    </select>
    <div class="invalid-feedback">Por favor, seleccione a quién es atribuible.</div>
  </div>

  <!-- Tipo de Falla -->
  <div class="me-4 w-75">
    <label for="tipo_de_falla" class="form-label"><strong>Tipo de Falla</strong></label>
    <select class="form-select" id="tipo_de_falla" name="tipo_de_falla">
      <option>----</option>
      <option value="Parcial">Parcial</option>
      <option value="Total">Total</option>
    </select>

  </div>

  <!-- Tipo Causa -->
  <div class="w-75">
    <label for="tipo_causa" class="form-label"><strong>Tipo Causa</strong></label>
    <select class="form-select" id="tipo_causa" name="tipo_causa">
      <option>----</option>
      <option value="En investigacion">En investigación</option>
      <option value="Encontrado">Encontrado</option>
      <option value="No encontrado">No encontrado</option>
    </select>
  </div>
</div>






<div class="mb-3 d-flex">
  <!-- Detalle -->
  <div class="me-3 w-50">
    <label for="detalle" class="form-label"><strong>Detalle</strong></label>
    <textarea class="form-control" id="detalle" name="detalle" rows="3"></textarea>
    <div class="invalid-feedback">Por favor, describa el detalle.</div>
  </div>

    <!-- Causa -->
    <div class="mb-3 w-50">
      <label for="causa" class="form-label"><strong>Causa</strong></label>
      <textarea class="form-control" id="causa" name="causa" rows="3"  ></textarea>
      <div class="invalid-feedback">Por favor, describa la causa.</div>
    </div>
</div>



    

      <!-- Validaciones -->
      <div class="mb-3">
        <label for="validaciones" class="form-label"><strong>Validaciones</strong></label>
        <textarea class="form-control" id="validaciones" name="validaciones" rows="3"  ></textarea>
        <div class="invalid-feedback">Por favor, ingrese las validaciones.</div>
      </div>

      <!-- Solución -->
      <div class="mb-3">
        <label for="solucion" class="form-label"><strong>Solución</strong></label>
        <textarea class="form-control" id="solucion" name="solucion" rows="3"  ></textarea>
        <div class="invalid-feedback">Por favor, ingrese la solución.</div>
      </div>

     <!-- Responsable GIOTI -->
<div class="mb-3">
  <label for="responsable_gioti" class="form-label"><strong>Responsable COES</strong></label>
  <input type="text" class="form-control" id="responsable_gioti" name="responsable_gioti" value="{{ user }}" readonly>
</div>



  <!-- Fecha iniciar y final -->
<!-- Fecha iniciar y final -->
<div class="mb-3 row">
  <div class="col-md-5">
    <label for="fecha_hora_inicial" class="form-label"><strong>Fecha y Hora Inicial</strong></label>
<input type="datetime-local" class="form-control" id="fecha_hora_inicial" name="fecha_hora_inicial" value="{{ fecha_hora_mejora|date:'Y-m-d\TH:i' }}" >
  </div>

  <div class="col-md-5">
    <label for="fecha_hora_final" class="form-label"><strong>Fecha y Hora Final</strong></label>
    <input type="datetime-local" class="form-control" id="fecha_hora_final" name="fecha_hora_final" >
  </div>
</div>
<div class="invalid-feedback">Por favor, complete las fechas y horas requeridas.</div>




      <!-- GIOTI -->
<div class="mb-3">
  <label class="form-label"><strong>GIOTI</strong></label>
  <div>
    <input type="checkbox" id="gioti" name="gioti" {% if gioti == "on" %} checked {% endif %}   class="checkbox-grande">
    <label for="gioti" class="badge bg-success">Sí</label>
  </div>
  <div class="invalid-feedback"   >Por favor, indique si aplica GIOTI.</div>
</div>

      <!-- Botón de Enviar -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</div>
<style>
  body{
    background: url("/static/images/logofondo.png") no-repeat center center fixed !important;
    background-size: cover !important;

  }
 

</style>



{% endblock %}

