<footer class="text-center w-100 p-4" style="background: linear-gradient(to right, #f8f9fa, #e9ecef); color: #333;">
    <div class="container">
        <div class="row align-items-center">
         
    

    


    <!-- Derechos reservados -->
    <div class="text-center">
     
        <p>Última actualización: <strong>{% now "d/m/Y H:i:s" %}</strong></p>
    </div>
</footer>

<!-- FontAwesome para íconos -->
<script src="https://kit.fontawesome.com/tu_clave_aqui.js" crossorigin="anonymous"></script>
