{% extends "layout.html" %}

{% block title %}Crear nueva gestión{% endblock %}

{% load static %}



<main>
    {% block content %}


    <!-- Barra superior -->
<nav class="navbar navbar-expand-lg px-3" style="background-color:  white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'listar_mejora' %}">
            <img src="{% static 'images/logo.JPG' %}" alt="Logo" width="50" height="40">
        </a>
        <span class="navbar-text text-dark ms-auto">
            Bienvenido/a, <strong>{{ first_name }}</strong>
        </span>
    </div>
  </nav>


    <div class="container contact-form">
        <div class="contact-image">
            <img src="{% static 'images/logofondo.png' %}" class="img_formulariomejora" alt="imagen" />
        </div>
        <div class="container contact-form">
            <h3><strong>Crear Mejora</strong></h3>
            <form method="POST">
                {% csrf_token %}
                <div class="container">
                    <!-- Información general -->
                    <div class="row mb-3">
                        <div class="col">
                            <label  class="form-label"><strong>Servicio</strong></label>
                            <input type="text" class="form-control" id="servicio" name="servicio" required>
                        </div>
                        <div class="col">
                            <label  class="form-label"><strong>Herramienta de Monitoreo</strong></label>
                            <select name="herramienta_de_monitoreo" id="herramienta_de_monitoreo" class="form-select" required>
                                <option value="---">---</option>
                                <option value="Dynatrace">Dynatrace</option>
                                <option value="Wily">Wily</option>
                                <option value="Kyndryl">Kyndryl</option>
                                <option value="Grafana">Grafana</option>
                                <option value="ELK">ELK</option>
                                <option value="NOI">NOI</option>
                                <option value="SAMI">SAMI</option>
                                <option value="NIX">NIX</option>
                                <option value="CloudWatch">CloudWatch</option>
                            </select>
                        </div>
                    </div>

                    <!-- Tipo de mejora y número de petición -->
                    <div class="row mb-3">
                        <div class="col">
                            <label  class="form-label"><strong>Tipo de Mejora</strong></label>
                            <select name="tipo_de_mejora" id="tipo_de_mejora" class="form-select" required>
                                <option value="---">---</option>
                                <option value="Alerta falla masiva">Alerta falla masiva</option>
                                <option value="Correccion variable">Corrección variable</option>
                                <option value="Corregir umbrales de monitoreo">Corregir umbrales de monitoreo</option>
                                <option value="mejoras al monitoreo de un servicio">Mejoras al monitoreo de un servicio</option>
                                <option value="variable o servicio eliminado">Variable o servicio eliminado</option>
                            </select>
                        </div>
                        <div class="col">
                            <label for="numero_peticion" class="form-label"><strong>Número de Petición</strong></label>
                            <input type="text" class="form-control" id="numero_peticion" name="numero_peticion"required>
                        </div>
                    </div>

                    <!-- Número WO y servidor -->
                    <div class="row mb-3">
                        <div class="col">
                            <label for="numero_wo" class="form-label"><strong>Número WO</strong></label>
                            <input type="text" class="form-control" id="numero_wo" name="numero_wo" required>
                        </div>
                        <div class="col">
                            <label for="servidor" class="form-label"><strong>Servidor</strong></label>
                            <input type="text" class="form-control" id="servidor" name="servidor" required>
                        </div>
                    </div>

                    <!-- Variable y petición reincidente -->
                    <div class="row mb-3">
                        <div class="col">
                            <label for="variable" class="form-label"><strong>Variable</strong></label>
                            <textarea class="form-control" id="variable" name="variable" rows="3"required></textarea>
                           
                        </div>
                        <div class="col">
                            <label for="peticion_reincidente" class="form-label"><strong>Petición
                                    Reincidente</strong></label>
                            <select name="peticion_reincidente" id="peticion_reincidente" class="form-select" required>
                                <option value="---">---</option>
                                <option value="si">SI</option>
                                <option value="no">NO</option>
                            </select>
                        </div>
                    </div>


                    <!-- Número de petición anterior y observaciones -->
                    <div class="row mb-3">
                        <div class="col">
                            <label for="peticion_anterior" class="form-label"><strong>Nº Petición Anterior</strong></label>
                            <input type="text" class="form-control" id="peticion_anterior"
                                name="peticion_anterior" required>
                        </div>
                        <div class="col">
                            <label for="observaciones" class="form-label"><strong>Observaciones</strong></label>
                            <textarea class="form-control" id="observaciones" name="observaciones" rows="3"required></textarea>
                        </div>
                    </div>

                    <!-- Fecha y hora mejora, área responsable -->
                    <div class="row mb-3">
                        <div class="col">
                            <label for="fecha_hora_mejora" class="form-label"><strong>Fecha y Hora Mejora</strong></label>
                            <input type="datetime-local" class="form-control" id="fecha_hora_mejora" value="{{ fecha_hora_mejora|date:'Y-m-d\TH:i' }}" name="fecha_hora_mejora" readonly>

                        </div>
                        <div class="col">
                            <label for="area_responsable" class="form-label"><strong>Área Responsable</strong></label>
                            <select name="area_responsable" id="area_responsable" class="form-select" required>
                                <option value="---">---</option>
                                <option value="CGM">CGM</option>
                                <option value="IM">IM</option>
                                <option value="PM">PM</option>
                            </select>
                        </div>
                    </div>

                   <!-- Mejora creada por (Campo más pequeño) -->
<div class="row mb-5">
    <div class="col-6"> <!-- Ajusta el tamaño de la columna -->
        <label for="mejora_creada_por" class="form-label"><strong>Mejora creada por</strong></label>
        <input type="text" class="form-control form-control-sm" id="mejora_creada_por" name="mejora_creada_por" value="{{ user }}" readonly>
    </div>
</div>



                    <hr>
<!-- Número de petición anterior y observaciones -->
<div class="row mb-3">
    <div class="col">
        <label for="estado" class="form-label"><strong>Estado</strong></label>
        <select name="estado" id="estado" class="form-select" required onchange="toggleFechaHora()">
            <option value="abierto">Abierto</option>
            <option value="cerrado">Cerrado</option>
        </select>
    </div>
    
    <div class="col" id="fecha_hora_container" style="display: none;">
        <label for="fecha_hora" class="form-label"><strong>Fecha y Hora</strong></label>
        <input type="datetime-local" class="form-control" id="fecha_hora" 
               name="fecha_hora" value="{{ fecha_hora_mejora|date:'Y-m-d\TH:i' }}" name="fecha_hora_mejora" readonly>
    </div>
</div>


<div class="col">
    <label for="solucion" class="form-label"><strong>Solucion</strong></label>
    <textarea class="form-control" id="solucion" name="solucion" rows="3"></textarea>
</div>

<script>
    function toggleFechaHora() {
        var estado = document.getElementById("estado").value;
        var fechaHoraContainer = document.getElementById("fecha_hora_container");
        var fechaHoraInput = document.getElementById("fecha_hora");

        if (estado === "cerrado") {
            fechaHoraContainer.style.display = "block"; // Muestra el campo
            var now = new Date();
            now.setMinutes(now.getMinutes() - now.getTimezoneOffset()); // Adjust for timezone offset
            var formattedDateTime = now.toISOString().slice(0, 16);
            fechaHoraInput.value = formattedDateTime; // Establece la hora actual
        } else {
            fechaHoraContainer.style.display = "none"; // Oculta el campo
            fechaHoraInput.value = ""; // Limpia el valor del campo
        }
    }
</script>




                    <hr>

                    <!-- Botón para enviar el formulario -->
                    <div class="row mb-3   ">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary btnContact">Crear Mejora</button>
                        </div>
                    </div>
                </div>
            </form>



        </div>

      
     
        {% endblock %}


     
 