{% extends "layout.html" %}
{% load static %}

{% block title %}Mejoras Cerradas{% endblock %}


{% block content %}



<!-- Barra superior -->
<nav class="navbar navbar-expand-lg px-3" style="background-color: white">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'listar_mejora' %}">
            <img src="{% static 'images/logo.JPG' %}" alt="Logo" width="50" height="40">
        </a>
        <span class="navbar-text text-dark ms-auto">
            {% if first_name %}
            Bienvenido/a, <strong>{{ first_name }}</strong>
            {% else %}
            Bienvenido/a, <strong>Invitado</strong>
            {% endif %}
        </span>
    </div>
</nav>


{% if messages %}
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}




<!-- Botón para crear nueva gestión -->
<a href="{% url 'listar_mejora' %}" class="btn btn-danger mt-5 mx-5"> &#8592; mejoras abiertas</a>

<!-- Campo de búsqueda -->
<form method="GET" class="d-flex my-3 mx-3">
    <input type="text" name="q" class="form-control me-2" placeholder="Buscar..." value="{{ query|default:'' }}" style="width: 600px;">
    <button type="submit" class="btn btn-primary">🔍 Buscar</button>
</form>
<form method="GET" action="{% url 'descargar_mejora' %}">
    <div class="d-flex justify-content-between">
<!-- Tabla de gestiones -->
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th class="text-center align-middle">
                    <input type="checkbox" id="select-all" onclick="toggleCheckboxes(this)">
                    </th>
                <th class="text-center align-middle">Estado</th>
                <th class="text-center align-middle">Servicio</th>
                <th class="text-center align-middle">Herramienta de monitoreo</th>
                <th class="text-center align-middle">Tipo de mejora</th>
                <th class="text-center align-middle">Numero de pedido</th>
                <th class="text-center align-middle">Numero WO</th>
                <th class="text-center align-middle">Solucion</th>
                <th class="text-center align-middle">Servidor</th>
                <th class="text-center align-middle">Variable</th>
                <th class="text-center align-middle">Peticion reincidente</th>
                <th class="text-center align-middle">Peticion anterior</th>
                <th class="text-center align-middle">Observaciones</th>
                <th class="text-center align-middle">fecha_hora_mejora</th>
                <th class="text-center align-middle">fecha hora cierre</th>
                <th class="text-center align-middle">Area responsable</th>
                <th class="text-center align-middle">Mejora creada por</th>
            </tr>
        </thead>
        <tbody>
            {% for mejora in page_obj %}
            <tr>
                <td>
                    <!-- Checkbox con el id de la mejora -->
                    <input type="checkbox" name="mejoras" value="{{ mejora.id }}">
                  </td>
                <td>{{ mejora.estado }}
                <td>{{ mejora.servicio }}
                <td>{{ mejora.herramienta_de_monitoreo }}</td>
                <td>{{ mejora.tipo_de_mejora }}</td>
                <td>{{ mejora.numero_peticion }}</td>
                <td>{{ mejora.numero_wo }}</td>
                <td>{{ mejora.solucion }}</td>
                <td>{{ mejora.servidor }}</td>
                <td>{{ mejora.variable }}</td>
                <td>{{ mejora.peticion_reincidente }}</td>
                <td>{{ mejora.peticion_anterior }}</td>
                <td>{{ mejora.observaciones }}</td>
                <td>{{ mejora.fecha_hora_mejora }}</td>
                <td>{{ mejora.fecha_hora }}</td>
                <td>{{ mejora.area_responsable }}</td>
                <td>{{ mejora.mejora_creada_por }}</td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <select name="formato" class="form-control form-control-sm" style="width: auto;">
          <option value="csv">CSV</option>
          <option value="xlsx">XLSX</option>
        </select>
      </div>
      
    
      <!-- Botón de descarga -->
      <button type="submit" class="btn btn-warning mx-6">
        📥 Descargar
      </button>
    </div>
    </div>
    </form>
    
</div>

<!-- Paginación -->
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?q={{ query }}&page={{ page_obj.previous_page_number }}" aria-label="Anterior">
                &laquo;
            </a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        <li class="page-item {% if num == page_obj.number %}active{% endif %}">
            <a class="page-link" href="?q={{ query }}&page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?q={{ query }}&page={{ page_obj.next_page_number }}" aria-label="Siguiente">
                &raquo;
            </a>
        </li>
        {% endif %}
    </ul>
</nav>


<script>
    function toggleCheckboxes(source) {
      checkboxes = document.getElementsByName('mejoras');
      for(var i=0, n=checkboxes.length;i<n;i++) {
        checkboxes[i].checked = source.checked;
      }
    }
  </script>

{% endblock %}